#home{
    background:#ffc107;
    color: darkslategrey;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

#miolo{
    background:#628234;
    color: #2a17d2;
}

#shop{
    background:#370377;
    color: #2a17d2;
}
